html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

// Hack due to nextjs issue
body > div:first-child, #__next, #__next > div:first-child, #__next > div:first-child > div:first-child  {
  height: 100%;
  margin: 0;
}


/******** FONTS *********/

@font-face {
  font-family: 'Playfair Display - Regular';
  font-style:normal;
  font-weight:400;
  src: url('/static/style/fonts/playfair_regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Playfair Display - Black';
  font-style:normal;
  font-weight:400;
  src: url('/static/style/fonts/playfair_black.ttf')  format('truetype');
}

@font-face {
  font-family: 'Playfair Display - Bold';
  font-style:normal;
  font-weight:400;
  src: url('/static/style/fonts/playfair_bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'Playfair Display - Black Italic';
  font-style:normal;
  font-weight:400;
  src: url('/static/style/fonts/playfair_blackitalic.ttf')  format('truetype');
}

@font-face {
  font-family: 'Futura - Bold';
  font-style:normal;
  font-weight:400;
  src: url('/static/style/fonts/futuralt_bold.woff') format('woff'),
       url('/static/style/fonts/futuralt_bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'Futura LT - Book';
  font-style:normal;
  font-weight:400;
  src: url('/static/style/fonts/futuralt_book.woff') format('woff'),
       url('/static/style/fonts/futuralt_book.ttf')  format('truetype');
}


@font-face {
  font-family: 'OpenSans Regular';
  src: url('/static/style/fonts/Opensans-Regular.eot'),
       url('/static/style/fonts/Opensans-Regular.woff') format('woff'),
       url('/static/style/fonts/OpenSans-Regular.ttf') format('truetype'),
       url('/static/style/fonts/Opensans-Regular.svg') format('svg');
}

@font-face {
  font-family: 'OpenSans Bold';
  src: url('/static/style/fonts/OpenSans-Bold.eot'),
       url('/static/style/fonts/OpenSans-Bold.woff') format('woff'),
       url('/static/style/fonts/OpenSans-Bold.ttf') format('truetype'),
       url('/static/style/fonts/OpenSans-Bold.svg') format('svg');
}

@font-face {
  font-family: 'OpenSans Semi-Bold';
  src: url('/static/style/fonts/OpenSans-Bold.eot'),
       url('/static/style/fonts/OpenSans-Bold.woff') format('woff'),
       url('/static/style/fonts/OpenSans-Bold.ttf') format('truetype'),
       url('/static/style/fonts/OpenSans-Bold.svg') format('svg');
}

.opensans {
  font-family: 'OpenSans Regular';
  font-weight:400;
}

.opensans_bold {
  font-family: 'OpenSans Bold';
  font-weight:400;
}

.opensans_semibold {
  font-family: 'OpenSans Bold';
  font-weight:400;
}

.futuralt_bold {
  font-family: 'Futura - Bold';
  font-weight:400;
}

.futuralt_book {
  font-family: 'Futura LT - Book';
  font-weight:400;
}

.futuralt_book strong {
  font-family: 'Futura - Bold';
  font-weight:400;
}

.playfairdisplay {
  font-family: 'Playfair Display - Regular';
  font-weight:400;
}

.playfairdisplay_black {
  font-family: 'Playfair Display - Black';
  font-weight:400;
}

.playfairdisplay_bold {
  font-family: 'Playfair Display - Bold';
  font-weight:400;
}

/******** UTILS *********/

.clickable:hover {
  cursor: pointer;
}

.transitions {
  -webkit-transition      : all .5s  ;
  -moz-transition       : all .5s  ;
  -ms-transition        : all .5s  ;
  -o-transition         : all .5s  ;
  transition          : all .5s  ;
}
.transitions_1s {
  -webkit-transition      : all 1s  ;
  -moz-transition       : all 1s  ;
  -ms-transition        : all 1s  ;
  -o-transition         : all 1s  ;
  transition          : all 1s  ;
}

.transitions_1_5s {
  -webkit-transition      : all 1.5s  ;
  -moz-transition       : all 1.5s  ;
  -ms-transition        : all 1.5s  ;
  -o-transition         : all 1.5s  ;
  transition          : all 1.5s  ;
}

.hide {
  display: none;
}
.generic-text{
  text-rendering: optimizelegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0,0,0,0.8);
}


/***** GLOBAL STYLES ******/

.Global_title_primary {
  font-family: 'Playfair Display - Black';
  font-weight: 400;
  font-size: 66px;
  color: white;
  line-height: 78px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin: 40px 0;
}

.Global_title_secondary {
  font-family: 'Futura - Bold';
  font-weight:400;
  font-size: 21px;
  color: white;
  line-height: 32px;
  text-transform: uppercase;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin: 30px 0;
}

.Global_subtitle {
  font-family: 'Futura - Bold';
  font-weight:400;
  font-size: 14px;
  color: white;
  line-height: 24px;
  text-transform: uppercase;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin: 30px 0;
}

.Global_subtitle_part {
  font-family: 'Playfair Display - Black Italic';
  font-weight: 400;
  font-size: 16px;
  color: white;
  line-height: 32px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin: 10px 0;
}

.Global_description {
  font-family: 'Futura LT - Book';
  font-weight:400;
  font-size: 14px;
  color: white;
  line-height: 24px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin: 20px 0;
}

.Global_description strong {
  font-family: 'Futura - Bold';
  font-weight:400;
  font-weight: normal;
}

@media screen and (max-width: 750px) {
  .Global_title_primary {
    font-size: 44px!important;
    line-height: 50px!important;
  }

  .Global_title_secondary {
    font-size: 18px!important;
    line-height: 36px!important;
  }
  .Global_summary_title_secondary {
    font-size: 12px!important;
    line-height: 21px!important;
  }

  .Global_description {
    margin: auto;
  }
}

/***** PROJECT STYLES ******/

.Global_project {
  position: relative;
  overflow: hidden;
  top: calc(70% - 55px);
  animation-duration: 2s;
  animation-name: appearBottom;
  z-index: 10;
}

@media screen and (max-width: 750px) {
  .Global_project {
    top: calc(50% - 55px);
  }
}

.Global_project_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition      : all 1.5s  ;
  -moz-transition       : all 1.5s  ;
  -ms-transition        : all 1.5s  ;
  -o-transition         : all 1.5s  ;
  transition          : all 1.5s  ;
}
.Global_project_container.Global_about_open {
  top: 575px;
}

.Global_content_wrapper {
  width: 1020px;
  height: 100%;
  margin: auto;
  position: relative;
}

@media screen and (max-width: 750px) {
  .Global_content_wrapper {
    width: 100%;
  }
}


.Global_first_letter {
  font-family: 'Futura - Bold';
  font-size: 56px;
  line-height: 55px;
  letter-spacing: 11px;
  float: left;
  height: 56px;
}
.Global_first_letter_apps { color: #00B3DF; }
.Global_first_letter_comete { color: #8061E7; }
.Global_first_letter_classe { color: #fb5e80; }
.Global_first_letter_ornikar { color: #EE5B60; }
.Global_first_letter_ganesha { color: #2CD582; }
.Global_first_letter_typo { color: #579BEB; }
.Global_first_letter_advertising { color: #ffbb66; }


/***** TRANSITIONS ******/

.Global_disappear {
  opacity: 0!important;
}

.Global_width_0 {
  width: 0!important;
}


/***** PROJECT SPECIFIC ******/
.Global_ul_classenumerique {
  padding-left: 5px;
}
.Global_ul_classenumerique li {
  list-style-type: none; /* on annule la puce par défaut */
  background-image: url('/static/dot.png'); /* on affiche l'image souhaitée */
  background-repeat: no-repeat; /* on annule la répétition par défaut */
  background-position: left center; /* on positionne où l'on veut */
  padding-left: 20px; /* pour éviter la superposition du contenu */
}
@media screen and (max-width: 750px) {
  .Global_ul_classenumerique li {
    background-position: 0 12px; /* on positionne où l'on veut */
  }
}

@-webkit-keyframes shine
{
  0%
  {
      background-position: top left;
  }
  100%
  {
      background-position: top right;
  }
}
